<div class="container">

    <div class="col-sm-10 ">
        <div class="box">
            <div class="">
                <h1 class="mb-2 titles">Novo registro</h1>

                <app-user-information [user]="" (userDataForm)="receiveUserPayload($event)"></app-user-information>
                <app-password (passwordDataForm)="receivePasswordPayload($event)"></app-password>

                <br />

                <button type="button" [disabled]="registerEnabled" class="mb-3 btn btn-success btn-lg btn-block"
                    (click)="register()">
                    Registrar
                </button>

                <button type="button" class="mb-3 btn btn-primary btn-lg btn-block" [routerLink]="['/']">
                    Voltar
                </button>

            </div>
        </div>
    </div>
</div>

<ng-template #alert let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{message}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times; </span>
        </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" (click)="modal.close('Save click')">
            Fechar
        </button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando</p>
</ngx-spinner>