<div class="container">
    <h1>Listagem de usuários</h1>
    <div class="row">
        <div class="col-sm-8 ">
            <div class="">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">CPF</th>
                            <th scope="col">Nome</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td scope="row">{{user.cpf}}</td>
                            <td>{{user.name}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="openUser(user, user._id)">Editar</button>
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="deleteUser(user._id)">Deletar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-sm-2 ">
            <app-sidemenu></app-sidemenu>
        </div>
    </div>
</div>


<ng-template #user let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Informações do Usuário</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times; </span>
      </button>
    </div>
    <div class="modal-body">
 
        <app-user-information  [user]="userUpdate" (userDataForm)="receiveUserUpdatePayload($event)"></app-user-information>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-block" (click)="modal.close('Save click')">
        Cancelar
      </button>
      <button type="button" class="btn btn-primary btn-block" (click)="updateUser()">
        Atualizar
      </button>
      <!-- <button type="button" class="btn btn-primary btn-lg" (click)="removeStatus()"> Remover </button> -->
    </div>
  </ng-template>

  <ng-template #alert let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{message}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times; </span>
        </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" (click)="modal.close('Save click')">
            Fechar
        </button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando</p>
</ngx-spinner>