<div class="container">
    <div class="col-sm-10 ">
        <div class="box">
            <div class="">
                <h1 class="mb-2 titles">Acessando o sistema</h1>

                <form [formGroup]="loginForm">
                    <label>CPF</label>
                    <input type="text" formControlName="cpf" mask="000.000.000-00" name="cpf" class="form-control"
                        placeholder="CPF">
                    <label>Password</label>
                    <input type="text" formControlName="password" type="password" name="password" class="form-control"
                        placeholder="Password">
                </form>

                <br />

                <button type="button" class="mb-3 btn btn-success btn-lg btn-block" (click)="login()">
                    Acessar
                </button>

                <button class="mb-3 btn btn-primary btn-lg btn-block" [routerLink]="['/register']">Criar um novo
                    registro</button>

            </div>
        </div>
    </div>
</div>

<ng-template #alert let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Ocorreu um problema</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times; </span>
        </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-block" (click)="modal.close('Save click')">
            Fechar
        </button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando</p>
</ngx-spinner>